In [1]:
# 데이터 변환 ( Transformation ) 
# : 여러 형태로 표현된 데이터 값을 다양한 분석 방법론에 적용하기 위해 원시 형태에서 다른 형식으로 바꾸는 과정 
# => 주어진 목적 기반의 올바른 결과 획득을 위하여 원시 데이터를 데이터 분석에 용이하도록 형태 변환 

# 변환 목적 및 특징 
# 빠른 특성 파악 
# : 데이터의 특성을 빠르게 파악 가능 
# : 파생변수 생성 및 단순화를 통한 결과 리포팅 등 활용

# 분석 알고리즘 적용 
# : 변수 간 범위가 다를 경우 알고리즘 적용 시 영향력의 차이가 발생함
# : 올바른 학습을 위해 다른 범위를 지닌 변수들의 변환 필요

In [2]:
# 구간화 ( Binning ) 
# : 연속형 데이터를 구간으로 구별하여 범주화 형태 변환
# 지정 길이 기반 구간 정의 
# : 사용자 기준으로 데이터 범위의 간격을 구분하여 관측치를 나누는 방안 

# 분포 기반 구간 정의 
# : 관측치가 각 구간 내 동일한 개수로 구분되도록 나누는 방안

# 정규화 ( Normalization ) 
# : 데이터 탐색 및 기계학습 적용을 위한 연속형 변수 변환
# 최대 - 최소 정규화 
# : 데이터 구간을 0에서 1사이로 변환
# : 특정 데이터의 위치 파악 

# Z - 점수 정규화 
# : 0을 중심으로 양쪽으로 데이터 분포시킴 
# : 특정 데이터가 평균과 얼마나 떨어져 있는지 파악

In [4]:
import numpy as np
import pandas as pd

category_enum = ('사설', '사회', '공학', '증권', '부동산', '경제', '정치', '스포츠', '연예')
journal_enum = ('A일보', 'B일보', 'C일보', 'D일보', 'E일보')

np.random.seed(1)
df_data = {
    'category' : [ category_enum[x] for x in np.random.randint(0, 9, 17734)],
    'journal' : [ journal_enum[x] for x in np.random.randint(0, 5, 17734)],
    'num_click' : [ ((x+5)**6//30)+9 if (x+5)**6 < 340000 else ((x+5)**6//1)  for x in np.random.randn(17734) ]
}

df = pd.DataFrame(df_data)

In [10]:
click_copy = df.copy()

In [5]:
cancer = pd.read_csv("./data/wdbc.data", encoding="cp949")
cancer.head(15)

,842302,M,17.99,10.38,122.8,1001,0.1184,0.2776,0.3001,0.1471,...,25.38,17.33,184.6,2019,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189
0,842517,M,20.57,17.77,132.90,1326.0,0.08474,0.07864,0.08690,0.07017,...,24.99,23.41,158.80,1956.0,0.1238,0.1866,0.2416,0.18600,0.2750,0.08902
1,84300903,M,19.69,21.25,130.00,1203.0,0.10960,0.15990,0.19740,0.12790,...,23.57,25.53,152.50,1709.0,0.1444,0.4245,0.4504,0.24300,0.3613,0.08758
2,84348301,M,11.42,20.38,77.58,386.1,0.14250,0.28390,0.24140,0.10520,...,14.91,26.50,98.87,567.7,0.2098,0.8663,0.6869,0.25750,0.6638,0.17300
3,84358402,M,20.29,14.34,135.10,1297.0,0.10030,0.13280,0.19800,0.10430,...,22.54,16.67,152.20,1575.0,0.1374,0.2050,0.4000,0.16250,0.2364,0.07678
4,843786,M,12.45,15.70,82.57,477.1,0.12780,0.17000,0.15780,0.08089,...,15.47,23.75,103.40,741.6,0.1791,0.5249,0.5355,0.17410,0.3985,0.12440
5,844359,M,18.25,19.98,119.60,1040.0,0.09463,0.10900,0.11270,0.07400,...,22.88,27.66,153.20,1606.0,0.1442,0.2576,0.3784,0.19320,0.3063,0.08368
6,84458202,M,13.71,20.83,90.20,577.9,0.11890,0.16450,0.09366,0.05985,...,17.06,28.14,110.60,897.0,0.1654,0.3682,0.2678,0.15560,0.3196,0.11510
7,844981,M,13.00,21.82,87.50,519.8,0.12730,0.19320,0.18590,0.09353,...,15.49,30.73,106.20,739.3,0.1703,0.5401,0.5390,0.20600,0.4378,0.10720
8,84501001,M,12.46,24.04,83.97,475.9,0.11860,0.23960,0.22730,0.08543,...,15.09,40.68,97.65,711.4,0.1853,1.0580,1.1050,0.22100,0.4366,0.20750
9,845636,M,16.02,23.24,102.70,797.8,0.08206,0.06669,0.03299,0.03323,...,19.19,33.88,123.80,1150.0,0.1181,0.1551,0.1459,0.09975,0.2948,0.08452
10,84610002,M,15.78,17.89,103.60,781.0,0.09710,0.12920,0.09954,0.06606,...,20.42,27.28,136.50,1299.0,0.1396,0.5609,0.3965,0.18100,0.3792,0.10480
11,846226,M,19.17,24.80,132.40,1123.0,0.09740,0.24580,0.20650,0.11180,...,20.96,29.94,151.70,1332.0,0.1037,0.3903,0.3639,0.17670,0.3176,0.10230
12,846381,M,15.85,23.95,103.70,782.7,0.08401,0.10020,0.09938,0.05364,...,16.84,27.66,112.00,876.5,0.1131,0.1924,0.2322,0.11190,0.2809,0.06287
13,84667401,M,13.73,22.61,93.60,578.3,0.11310,0.22930,0.21280,0.08025,...,15.03,32.01,108.80,697.7,0.1651,0.7725,0.6943,0.22080,0.3596,0.14310
14,84799002,M,14.54,27.54,96.73,658.8,0.11390,0.15950,0.16390,0.07364,...,17.46,37.13,124.10,943.2,0.1678,0.6577,0.7026,0.17120,0.4218,0.13410

In [6]:
cancer.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 568 entries, 0 to 567
Data columns (total 32 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   842302    568 non-null    int64
 1   M         568 non-null    object
 2   17.99     568 non-null    float64
 3   10.38     568 non-null    float64
 4   122.8     568 non-null    float64
 5   1001      568 non-null    float64
 6   0.1184    568 non-null    float64
 7   0.2776    568 non-null    float64
 8   0.3001    568 non-null    float64
 9   0.1471    568 non-null    float64
 10  0.2419    568 non-null    float64
 11  0.07871   568 non-null    float64
 12  1.095     568 non-null    float64
 13  0.9053    568 non-null    float64
 14  8.589     568 non-null    float64
 15  153.4     568 non-null    float64
 16  0.006399  568 non-null    float64
 17  0.04904   568 non-null    float64
 18  0.05373   568 non-null    float64
 19  0.01587   568 non-null    float64
 20  0.03003   568 non-null    float64
 21  0.006193  568 non-null    float64
 22  25.38     568 non-null    float64
 23  17.33     568 non-null    float64
 24  184.6     568 non-null    float64
 25  2019      568 non-null    float64
 26  0.1622    568 non-null    float64
 27  0.6656    568 non-null    float64
 28  0.7119    568 non-null    float64
 29  0.2654    568 non-null    float64
 30  0.4601    568 non-null    float64
 31  0.1189    568 non-null    float64
dtypes: float64(30), int64(1), object(1)
memory usage: 142.1+ KB

In [7]:
cancer_copy = cancer.copy()

In [8]:
cancer_copy.describe()

,842302,17.99,10.38,122.8,1001,0.1184,0.2776,0.3001,0.1471,0.2419,...,25.38,17.33,184.6,2019,0.1622,0.6656,0.7119,0.2654,0.4601,0.1189
count,5.680000e+02,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,...,568.00000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000,568.000000
mean,3.042382e+07,14.120491,19.305335,91.914754,654.279754,0.096321,0.104036,0.088427,0.048746,0.181055,...,16.25315,25.691919,107.125053,878.578873,0.132316,0.253541,0.271414,0.114341,0.289776,0.083884
std,1.251246e+08,3.523416,4.288506,24.285848,351.923751,0.014046,0.052355,0.079294,0.038617,0.027319,...,4.82232,6.141662,33.474687,567.846267,0.022818,0.156523,0.207989,0.065484,0.061508,0.018017
min,8.670000e+03,6.981000,9.710000,43.790000,143.500000,0.052630,0.019380,0.000000,0.000000,0.106000,...,7.93000,12.020000,50.410000,185.200000,0.071170,0.027290,0.000000,0.000000,0.156500,0.055040
25%,8.692225e+05,11.697500,16.177500,75.135000,420.175000,0.086290,0.064815,0.029540,0.020310,0.161900,...,13.01000,21.095000,84.102500,514.975000,0.116600,0.146900,0.114475,0.064730,0.250350,0.071412
50%,9.061570e+05,13.355000,18.855000,86.210000,548.750000,0.095865,0.092525,0.061400,0.033455,0.179200,...,14.96500,25.425000,97.655000,685.550000,0.131300,0.211850,0.226550,0.099840,0.282050,0.080015
75%,8.825022e+06,15.780000,21.802500,103.875000,782.625000,0.105300,0.130400,0.129650,0.073730,0.195625,...,18.76750,29.757500,125.175000,1073.500000,0.146000,0.337600,0.381400,0.161325,0.317675,0.092065
max,9.113205e+08,28.110000,39.280000,188.500000,2501.000000,0.163400,0.345400,0.426800,0.201200,0.304000,...,36.04000,49.540000,251.200000,4254.000000,0.222600,1.058000,1.252000,0.291000,0.663800,0.207500

In [11]:
click_copy.describe()

           num_click
count   17734.000000
mean     1033.469155
std      8596.249147
min         9.000000
25%       223.000000
50%       521.500000
75%      1118.000000
max    635158.000000

In [12]:
# 지정 길이 기반 구간화
# 클릭 수 기반으로 기사 관심도 정의 기반 범주형 변환 (3개 구간 설정)

#c cut 함수 활용 기반 구간 설정 (사용자 기준)
bins = [0, 100, 500, np.max(click_copy['num_click'])]
names = ["low", "medium", "high"]

click_copy['pref'] = pd.cut(click_copy['num_click'], bins, labels= names)

In [13]:
#구간 결과 확인 
click_copy['pref'].value_counts()

pref
high      9090
medium    6726
low       1918
Name: count, dtype: int64

In [14]:
click_copy.head(15)

   category journal  num_click    pref
0        경제     D일보      354.0  medium
1        연예     D일보      600.0    high
2        경제     E일보      869.0    high
3        사설     E일보      928.0    high
4        사설     A일보     2396.0    high
5        사회     E일보      320.0  medium
6       스포츠     E일보      345.0  medium
7        정치     D일보      831.0    high
8        공학     E일보      241.0  medium
9       부동산     A일보      818.0    high
10       경제     B일보      761.0    high
11       공학     A일보     1207.0    high
12      부동산     A일보      143.0  medium
13       공학     A일보      468.0  medium
14      부동산     B일보       62.0     low

In [15]:
# 분포 기반 구간화
# qcut의 경우 동일한 관측치가 배치되도록 구간을 분할
# 따라서 구간수로 나누게 됨
# 구간수 = n
n = 3 
click_copy['pref_qcut'] = pd.qcut(click_copy['num_click'], n, labels=names)

In [16]:
print(click_copy['pref_qcut'].value_counts())

pref_qcut
low       5929
high      5907
medium    5898
Name: count, dtype: int64

In [17]:
# 만일 qcut 실행 시 주로 발생하는 오류
# - 데이터가 극단치의 Skewed 한 경우 발생
# 데이터의 각 구간은 동일할 수 없기 때문
# 그러한 경우에는 분포 기반 구간화보다 사용자 기준 기반 범주화 혹은 구간 개수 변화 고려

In [18]:
# 정규화
# 기계학습 알고리즘의 각 변수별 영향력의 차이를 조장할 필요 존재함 
# 각 변수별 범위가 다를 경우 학습 안정성이 떨어질 수 있으므로 간격 조정 필요

# 1. 최대 - 최소 정규화 : 변수 안의 값을 [0,1] 구간의 값을 갖도록 구성하고 데이터 군 내에서 특정 데이터가 가지는 위치를 보고자 할 때 사용
# 2. z-score 정규화 : 특정 데이터가 평균을 기준으로 얼마나 떨어져 있는지 파악하고 측정 스케일이 다른 경우의 데이터를 비교하는데 사용

# 최대-최소 정규화 (Min_Max Scaling)
# 변수 값을 0에서 1사이의 값으로 변환
# 함수는 sklearn 라이브러리에 쉽게 구현되어있음

In [5]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

# 데이터 Copy
click_copy = df.copy()

#변환 
click_copy['minmax_values'] = scaler.fit_transform(click_copy[['num_click']])
click_copy.head(15)

   category journal  num_click  minmax_values
0        경제     D일보      354.0       0.000543
1        연예     D일보      600.0       0.000930
2        경제     E일보      869.0       0.001354
3        사설     E일보      928.0       0.001447
4        사설     A일보     2396.0       0.003758
5        사회     E일보      320.0       0.000490
6       스포츠     E일보      345.0       0.000529
7        정치     D일보      831.0       0.001294
8        공학     E일보      241.0       0.000365
9       부동산     A일보      818.0       0.001274
10       경제     B일보      761.0       0.001184
11       공학     A일보     1207.0       0.001886
12      부동산     A일보      143.0       0.000211
13       공학     A일보      468.0       0.000723
14      부동산     B일보       62.0       0.000083

In [6]:
click_copy.describe()

           num_click  minmax_values
count   17734.000000   17734.000000
mean     1033.469155       0.001613
std      8596.249147       0.013534
min         9.000000       0.000000
25%       223.000000       0.000337
50%       521.500000       0.000807
75%      1118.000000       0.001746
max    635158.000000       1.000000

In [8]:
# Z-score 정규화 ( Z - Score Normalization ) : 표준화라고 불리우기도 함
# 변수를 평균이 0이고 표준편차가 1인 표준정규분포로 변환
# 함수는 sklearn 라이브러리에 쉽게 구현되어있음

from sklearn.preprocessing import StandardScaler
std_scaler = StandardScaler()

# 변환
click_copy['std_values'] = std_scaler.fit_transform(click_copy[['num_click']])
click_copy.head(15)

   category journal  num_click  minmax_values  std_values
0        경제     D일보      354.0       0.000543   -0.079045
1        연예     D일보      600.0       0.000930   -0.050427
2        경제     E일보      869.0       0.001354   -0.019133
3        사설     E일보      928.0       0.001447   -0.012270
4        사설     A일보     2396.0       0.003758    0.158507
5        사회     E일보      320.0       0.000490   -0.083000
6       스포츠     E일보      345.0       0.000529   -0.080092
7        정치     D일보      831.0       0.001294   -0.023554
8        공학     E일보      241.0       0.000365   -0.092190
9       부동산     A일보      818.0       0.001274   -0.025066
10       경제     B일보      761.0       0.001184   -0.031697
11       공학     A일보     1207.0       0.001886    0.020187
12      부동산     A일보      143.0       0.000211   -0.103591
13       공학     A일보      468.0       0.000723   -0.065783
14      부동산     B일보       62.0       0.000083   -0.113014

In [9]:
# 데이터 요약 
click_copy.describe()
# 이상치 제거 후 수치형 데이터를 변환하여 모델링 적용 필요

           num_click  minmax_values    std_values
count   17734.000000   17734.000000  1.773400e+04
mean     1033.469155       0.001613  8.414006e-18
std      8596.249147       0.013534  1.000028e+00
min         9.000000       0.000000 -1.191797e-01
25%       223.000000       0.000337 -9.428438e-02
50%       521.500000       0.000807 -5.955895e-02
75%      1118.000000       0.001746  9.833734e-03
max    635158.000000       1.000000  7.376966e+01